@media (max-width: 768px) {
  .mainvisual {
    width: 85%;
    background-size: contain;
    padding: 180px;
   }

  h1 {
    font-size: 28px;
  }

  .color {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .lip {
    display: inline-block;
    width: 45%;
    margin: 0 auto 30px;
  }

.scene {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px;
}

.scene li {
  width: 30%;
  text-align: center;
}

.scene-tablet {
  width: 220px;
}

#section3 {
  width: 100%;
  margin: 0 auto;
}

.point-wrapper {
  height: 263px;
  width: 700px;
  position: relative;
  margin: 10px auto;
}

.tablet {
  width: 350px;
 }

.point-img {
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}

.pointtitle {
  float: right;
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.point-img2 {
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}

.pointtitle2 {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

}

@media (max-width: 480px) {
  .mainvisual {
    width: 100%;
    padding: 100px;
    }

  h1 {
    font-size: 18px;
  }

  .color {
    width: 300px;
  }

  .lip {
    width: 400px;
    margin: 20px auto;
    flex: auto;
    flex-direction: column;
  }

  .scene {
   padding: 30px;
}

  .scene li {
   width: 300px;
}

.scene-tablet {
  width: 100%;
}

 #section2 h3 {
  width: 300px;
  padding: 10px;
}

#section3 {
  width: 300px;
  margin: 0 auto;
}

.point-wrapper {
  height: 500px;
  width: 100%;
  margin: 10px;
}

.tablet {
  width: 300px;
 }


.point-img {
  float: none;
  position: relative;
  width: 100%;
  height: auto;
}

.pointtitle {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.point-img2 {
  float: none;
  position: relative;
  width: 100%;
  height: auto;
}

.pointtitle2 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

ul {
    padding: 0 30px;
  }

footer a {
  font-size: 12px;
}

}